# SYNTAX TEST "Packages/SystemdEditKit/Syntaxes/Systemd.sublime-syntax"
#
# Source: https://www.freedesktop.org/software/systemd/man/systemd.syntax.html
[Section A]
# <- entity.name.section.systemd
KeyOne=value 1
# <- keyword.other.key.systemd
#     ^ keyword.operator.assignment.systemd
#       ^ string.unquoted.value.systemd
KeyTwo=value 2
# <- keyword.other.key.systemd
#     ^ keyword.operator.assignment.systemd
#       ^ string.unquoted.value.systemd

# a comment
# <- comment.line.systemd

[Section B]
# <- entity.name.section.systemd
Setting="something" 'some thing' "…"
# <- keyword.other.key.systemd
#       ^ punctuation.definition.string.begin.systemd string.quoted.double.systemd punctuation.definition.string.end.systemd
#                        ^ punctuation.definition.string.begin.systemd string.quoted.single.systemd punctuation.definition.string.end.systemd
#                                  ^ punctuation.definition.string.begin.systemd string.quoted.double.systemd punctuation.definition.string.end.systemd
KeyTwo=value 2 \
# <- keyword.other.key.systemd
#     ^ keyword.operator.assignment.systemd
#       ^ string.unquoted.value.systemd
       value 2 continued
#      ^ string.unquoted.value.systemd

[Section C]
# <- entity.name.section.systemd
KeyThree=value 3\
# <- keyword.other.key.systemd
#         ^ keyword.operator.assignment.systemd
#           ^ string.unquoted.value.systemd
# this line is ignored
# <- comment.line.systemd
; this line is ignored too
# <- comment.line.systemd
       value 3 continued
#      ^ string.unquoted.value.systemd

[Section D]
# <- entity.name.section.systemd
KeyThree = value 4\
# <- keyword.other.key.systemd
#          ^ keyword.operator.assignment.systemd
#            ^ string.unquoted.value.systemd
# this line is ignored
# <- comment.line.systemd
; this line is ignored too
# <- comment.line.systemd
       value 4 continued
#      ^ string.unquoted.value.systemd

[Section Double 1]
# <- entity.name.section.systemd
Setting="something 'some thing' …"
# <- keyword.other.key.systemd
#       ^ punctuation.definition.string.begin.systemd string.quoted.double.systemd punctuation.definition.string.end.systemd

[Section Double 2]
# <- entity.name.section.systemd
Setting="something \"some thing\" …"
# <- keyword.other.key.systemd
#       ^ punctuation.definition.string.begin.systemd string.quoted.double.systemd punctuation.definition.string.end.systemd

[Section Single 1]
# <- entity.name.section.systemd
Setting='something "some thing" …'
# <- keyword.other.key.systemd
#       ^ punctuation.definition.string.begin.systemd string.quoted.single.systemd punctuation.definition.string.end.systemd

[Section Single 2]
# <- entity.name.section.systemd
Setting='something \'some thing\' …'
# <- keyword.other.key.systemd
#       ^ punctuation.definition.string.begin.systemd string.quoted.single.systemd punctuation.definition.string.end.systemd
